@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&isplay=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.font {
    font-family: 'Montserrat', sans-serif;

}

.container {
    padding: 0px 60px 60px 60px;
}

.container3 {
    padding: 10px 20px 5px 20px;
}

.container6 {
    margin: 0px auto;
    padding: 0px 20px 20px 20px;
    width: 600px;
    height: 500px;
}

.container2 {
    padding: 0px 110px 110px 110px;
}

.container1 {
    display: flex;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #00ADD8;
    margin-top: 10px;
}

.parent-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent-container1 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 40px;
}

.titulo1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23.8px;
    font-weight: 700;
    color: #00ADD8;
    margin-top: 10px;
}

.titulo10 {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 23.8px;
    font-weight: 700;
    color: #00ADD8;
    margin-top: 10px;
    align-items: center;
    /* Alinea verticalmente */
}

.titulo10 span {
    flex: 1;
}
.titulo10 button {
    margin-right: 45px;
}



.titulo2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #00ADD8;
    margin-top: 10px;
}


.progress-bar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    border: 1px solid rgb(197, 197, 204);
}

.step {
    width: 20%;
    align-items: center;
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    position: relative;
    font-weight: 300;
}

.stepandnumber {
    display: flex;
    flex-wrap: wrap;
}

.step:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.step:first-child:before {
    content: none;
}

.step.completed,
.step.active {
    background-color: #007bff;
    color: #fff;
}

.step.completed:before,
.step.active:before {
    background-color: #007bff;
}

.step .step-number {
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
    text-align: center;
}

.step-name.inactive {
    color: #A9A9A9;
}


.step:last-child:before {
    content: none;
}

@media screen and (max-width: 500px) {
    .step {
        width: auto;
    }
}


.step:last-child {
    background-image: none;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: #007bff;
}

.step-number {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    position: relative;
    font-weight: 500;
}

.checkmark-icon {
    display: block;
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: #007bff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #007bff;
    z-index: 3;
}


.advertencia {
    background-color: #A9AAAC;
    padding: 20px;
    width: 800px;
    border-radius: 10px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}



.step.completed .step-number {
    background-color: #ffffff;
    color: #072f5a;
}

.step.completed .step-number .checkmark-icon {
    display: block;
}


.step-number {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.step-number.active {
    background-color: #ffffff;
    color: #007bff;
}

.step-number.incomplete {
    background-color: #b3b0b0;
}


.step.completed .step-number {
    background-color: #ffffff;
    color: #072f5a;
}

.step.completed {
    background-color: #072f5a;
}

.step.completed .step-name {
    color: #ffffff;
}

.buttonPrev {
    width: 150px;
    height: 35px;
    font-weight: 500;
    border: 2px solid #00ADD8;
    background-color: transparent;
    color: #00ADD8;
    border-radius: 5px;
    align-items: center;
    font-size: 12px;
}

.buttonPrev:hover {
    width: 150px;
    height: 35px;
    font-weight: 500;
    font-size: 2px;
    border: 2px solid #fff;
    background-color: #00ADD8;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    font-size: 13px;
    transition: all 0.5s ease;
}

/* Popup.css */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    width: 54%;
    padding: 20px;
    border: 2px solid  #00ADD8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Apply backdrop blur effect */
  .popup-container {
    backdrop-filter: blur(3px);
  }

.buttonNext {
    width: 150px;
    height: 35px;
    font-weight: 500;
    font-size: 2px;
    border: 2px solid #fff;
    background-color: #00ADD8;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    font-size: 13px;
}

.buttonNext:hover {
    width: 150px;
    height: 35px;
    font-weight: 500;
    border: 2px solid #00ADD8;
    background-color: transparent;
    color: #00ADD8;
    border-radius: 5px;
    align-items: center;
    font-size: 12px;
    transition: all 0.5s ease;
}


.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid #f0f0f0;
    border-bottom: 60px solid #f0f0f0;
    border-left: 60px solid #007bff;
}

.arrow-right.inactive {
    border-left-color: #f0f0f0;
}

.arrow-right.active {
    border-top: 60px solid #007bff;
    border-bottom: 60px solid #007bff;
    border-left-color: #f0f0f0;
}

.arrow-right.completed {
    border-top: 60px solid #007bff;
    border-bottom: 60px solid #007bff;
    border-left-color: #072f5a;

}

.triangle-1-completed {
    border-top: 60px solid #007bff;
    border-bottom: 60px solid #007bff;
    border-left: 60px solid #072f5a;
}


.arrow-right.completed:not(.active) {
    border-top: 60px solid #007bff;
    border-bottom: 60px solid #007bff;
}

.arrow-right.completed.next-completed {
    border-top: 60px solid #072f5a;
    border-bottom: 60px solid #072f5a;
}

@media (max-width: 499px) {
    .progress-bar {
        display: none;
    }

    .advertencia {
        display: none;
    }

    .status-checkmark {
        display: none;
    }
}

.custom-checkbox {
    position: relative;
    width: 19px;
    height: 20px;
    border-radius: 40%;
    background: white;
    border: 1px solid #072f5a;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    align-items: center;
}

.custom-checkbox input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.custom-checkbox svg {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: #072f5a;
    stroke-width: 2;
}

.custom-checkbox input:checked+svg {
    visibility: visible;
}

.profile-card {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 0;
}

.profile-icon {
    background-image: url('/path-to-your-icon.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-text {
    font-size: 18px;
}

.checklist {
    background-color: #eeeeee;
    border-radius: 4px;
    overflow: hidden;
}

.check-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.check-item:last-child {
    border-bottom: none;
}

.check-title {
    font-size: 16px;
    color: #333;
}

.check-mark {
    background-color: #4caf50;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.PhoneInput {
    height: 100px;
}

.profile-card {
    background-color: #00AABE;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 230px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-icon {
    background-image: 'blue';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile-text {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
}

.profile-text strong {
    font-weight: bold;
}

.checklist-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #017182;
}

.checklist-item:last-child {
    border-bottom: none;
}

.item-number {
    background-color: #017182;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.item-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.item-title {
    font-size: 16px;
}

.item-status {
    display: flex;
    align-items: center;
}

.checkmark {
    color: #4caf50;
    margin-right: 5px;
}

.checklist-container {
    background-color: #fff;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 290px;
    margin-top: 6px;
}

.checklist-item {
    display: flex;
    align-items: center;
    padding: 13px 20px;
    cursor: pointer;
    border-bottom: 1px solid #017182;
}

.checklist-item:last-child {
    border-bottom: none;
}

.item-number {
    background-color: #017182;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.item-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.item-title {
    font-size: 16px;
}

.item-status {
    display: flex;
    align-items: center;
}

.checkmark {
    color: #4caf50;
    margin-right: 5px;
}

.item-count {
    margin-right: 5px;
}

.dropdown-arrow {
    user-select: none;
}

.dropdown {
    background-color: #007b8f;
    color: white;
    padding: 5px;
    border-top: 1px solid #017182;
}

.dropdown-item {
    padding: 5px 20px;
    border-bottom: 2px solid #017182;
    font-size: 14px;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 16px;
    padding: 16px;
}

.status-box {
    background-color: #072f5a;
    color: white;
    border-radius: 8px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.status-header {
    background-color: white;
    color: #005f73;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.status-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-body {
    flex-grow: 1;
}

.status-title {
    font-size: 1em;
}

.status-info {
    display: flex;
    align-items: center;
}

.status-checkmark {
    color: #007bff;
    font-size: 2rem;
    margin-right: 10px;
}

.status-status {
    font-size: 1em;
    color: #007bff
}

@media (max-width: 499px) {
    .status-header {
        display: none;
    }


    .container1 {
        display: flex;
        flex-direction: column;
    }

    .profile-card {
        order: 1;
    }

    .checklist-container {
        order: 2;
    }

    .status-grid {
        grid-template-columns: 1fr;
    }

    .status-box {
        height: 20px;
    }
}


.card-hover-animation {
    transition: transform 0.2s ease-in-out;
}

.card-hover-animation:hover {
    transform: scale(1.05);
}

